@{
    ViewBag.Title = "Hakkımızda";
}

<h2>Bu Web Sitesi Hakkında</h2>
<p>
    Bu web sitesi, Eskişehir ilini tanıtmak amacıyla geliştirilmiş bir şehir bilgilendirme platformudur.
    Kullanıcılar şehir hakkında bilgi alabilir, nüfus verilerini görebilir, ilçeleri ve turistik yerleri keşfedebilir.
</p>

<h3>İletişim Bilgileri</h3>
<ul>
    <li><strong>Email:</strong> info@eskisehir.bel.tr</li>
    <li><strong>Telefon:</strong> +90 (530) 140 33 74</li>
    <li><strong>Faks:</strong> +90 (222) 220 42 36</li>
    <li>
        <strong>Sosyal Medya:</strong> <a href="https://instagram.com/eskisehirbb/" target="_blank">instagram.com/eskisehirbb</a>
    </li>
</ul>
