@model List<SehirTanitim.Models.District>

<h2>İlçeler</h2>

<table class="table table-striped">
    <thead style="background-color: lightgray;">
        <tr>
            <th>#</th>
            <th>İlçe Adı</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count > 0)
        {
            int index = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td>@index</td>
                    <td>@item.Name</td>
                </tr>
                index++;
            }
        }
        else
        {
            <tr>
                <td colspan="2">Kayıtlı ilçe bulunmamaktadır.</td>
            </tr>
        }
    </tbody>
</table>
